<!doctype html>
<html lang="en" th:replace="~{base::parent(~{::#content}, ~{:: title}, ~{:: script})}">

<head>
    <title>Error</title>
</head>

<body>
    <div class="flex justify-center pt-32" id="content">
        <div
            class="card block p-6 bg-white border border-red-200 rounded-lg shadow-sm hover:bg-red-100 hover:shadow-md dark:bg-gray-800 dark:border-red-700 dark:hover:bg-gray-700 transition-all duration-500 ease-in-out w-full max-w-md">
            <div class="flex flex-col items-center mb-3">
                <img alt="Error" class="mb-2 w-16 h-16 rounded-full bg-red-200 dark:bg-red-700"
                    src="/img/default-profile-pic.png">
                <h4 class="mb-2 text-xl font-semibold text-red-700 dark:text-red-300">An Error Occurred</h4>
            </div>
            <p class="text-center mb-4 text-gray-700 dark:text-gray-300">Sorry, something went wrong. Please try again
                later or contact support if the problem persists.</p>
            <div class="flex flex-col items-center gap-2">
                <a href="/"
                    class="cursor-pointer mb-2 px-4 py-2 text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800 transition">
                    Go to Home</a>
            </div>
        </div>
    </div>
    <script>console.log("Error Page")</script>
</body>

</html>